/*font-family: 'PT Sans', sans-serif;*/
*{
	margin:0;
	padding:0;
}
body{
	font-family: 'PT Sans', sans-serif;
	color: #010101;
}
/*header start*/
header{
	background-color:#fcdb00;
	    padding: 25px 0;
}
.menu ul li a{
	font-weight: 700;
	font-size: 22px;
    /*color:#010101;*/
    padding: 0 30px !important;
    transition:0.3s;
}
.menu ul li:last-child a{
	padding-right:0 !important;
}
.menu ul li a:hover{
	color:white !important;
}
/*header emd*/

